---
title: The Art Project
navTitle: The Art Project
sortorder: 6
class: section-artproject
---

<div class="elm-content">
	<svg>
	   <use xlink:href="assets/img/svgdefs.svg#section-artproject"></use>
	</svg>
</div>
<div class="elm-image">
	<img src="assets/img/artproject_picture.jpg" alt="">
	<a href="http://www.theartproject.royalcopenhagen.com/" target="_blank">
		<svg>
		   <use xlink:href="assets/img/svgdefs.svg#section-artproject-button"></use>
		</svg>
	</a>
</div>