---
title: The Art Project
navTitle: The Art Project
sortorder: 6
class: section-artproject
---

<h1>The Art Project</h1>

<p>
	<strong>4 artists</strong> celebrating pattern no. 1 and the colour blue in collaboration with <strong>Royal Copenhagen</strong>
</p>