---
title: The Art Project
navTitle: The Art Project
sortorder: 6
class: section-artproject
---

<div class="elm-content">
	<svg viewBox="0 0 361.128 504.538" width="361.128px" height="504.538px">
	   <use xlink:href="{{assets}}/img/artproject.svg#artproject"></use>
	</svg>
</div>
<div class="elm-image">
	<img src="{{assets}}/img/artproject_picture.jpg" alt="">
	<a href="#">
		<svg viewBox="0 0 197 38">
		   <use xlink:href="{{assets}}/img/artproject_button.svg#artproject-button"></use>
		</svg>
	</a>
</div>