---
title: Blue
navTitle: Blue
sortorder: 5
class: section-blue
---

<h1>In the beginning<br>there was blue</h1>

<div class="blue-slider flexslider">
	<ul class="slides">
	{{#eachOptions blue}}
		<li>
			<div class="elm-image"><img src="{{this.value.imgurl}}" alt="{{this.value.title}}" /></div>
			<div class="elm-content">
				<h2>
					{{this.value.title}}
				</h2>
				<p>
					{{{this.value.text}}}
				</p>
			</div>
		</li>
	{{/eachOptions}}
	</ul>
</div>