---
title: A Passion for blue
navTitle: Frontpage
sortorder: 1
class: section-front
is_aggr: false
---


<h1>
	<svg>
	   <use xlink:href="assets/img/svgdefs.svg#logo-royalcph-crown"></use>
	</svg>
	A Passion for Blue
</h1>
<h2>
	Since 1775
</h2>

<div class="scroll-down">
	<svg>
	   <use xlink:href="assets/img/svgdefs.svg#icon-arrow-down"></use>
	</svg>
</div>