---
title: A Passion for blue
navTitle: Frontpage
sortorder: 1
class: section-front
---


<h1>
	<svg>
	   <use xlink:href="assets/img/svgdefs.svg#logo-royalcph-crown"></use>
	</svg>
	A Passion for Blue
</h1>
<h2>
	Since 1775
</h2>

<video autoplay preload="auto" id="bgvid" loop muted>
	<source src="http://player.vimeo.com/external/128246668.sd.mp4?s=e00445b30f892f28b83d2d8e83b89842&profile_id=112" type="video/mp4">
	<source src="http://player.vimeo.com/external/128246668.m3u8?p=high,standard&s=943b7f40797fc7532c026fbcd237c006" type="application/x-mpegURL">
</video>
