---
title: 240 years of extraordinary
navTitle: Inspiration
sortorder: 3
class: section-inspiration
is_aggr: false
---

<h1>240 years of making<br>every day extraordinary</h1>
<p>From our very first plate, we've had the privilege of helping you turn everyday moments into banquets and feasts worthy of kings and queens. With your passion for beautiful moments, you write new chapters in our story.</p>

<div class="inspiration-slider">
	<ul class="slides">
		{{#eachOptions inspiration}}
			<li class="{{this.value.class}}">
			{{#if this.value.imgurl}}
				<img data-original="{{this.value.imgurl}}" src="assets/img/transparent.gif" alt="{{this.value.name}}" />
				<div class="source">
					@frederikkewaerens
				</div>
			{{/if}}
			{{#if this.value.caption}}
				<div class="caption">
					{{{this.value.caption}}}
				</div>
			{{/if}}
			</li>
		{{/eachOptions}}
	</ul>
</div>

<h1>What beauty will you<br>create with Blue?</h1>
<p>Elevating the mundane to the sublime since 1775.</p>