---
title: Products
navTitle: Products
sortorder: 9
class: section-products
is_aggr: false
---

<h1>Paint your world<br>in blue with&hellip;</h1>

<div class="products flexslider">
	<ul class="slides">
	{{#eachOptions products}}
		<li>
			<article class="product">
				<div class="elm-image"><a href="#" target="_blank"><img data-original="{{this.value.imgurl}}" src="assets/img/transparent.gif" alt="{{this.value.name}}" /></a></div>
				<div class="elm-content">
					<h3>
						<a href="#" target="_blank"><span class="product-name">{{this.value.series}}</span></a>
					</h3>
					<p class="product-details">
						{{{this.value.details}}}
					</p>
				</div>
			</article>
		</li>
	{{/eachOptions}}
	</ul>
</div>
<div class="store-locator">
	<a href="https://www.royalcopenhagen.com/storelocator">
		<span>Visit our</span> <span>online shop</span>
	</a>
</div>