---
layout: default.hbs
title: A Passion for Blue
is_aggr: true
sortorder: 0
---

{{#withSort pages "data.sortorder"}}
	{{#isnt data.is_aggr true}}
		<section id="{{basename}}" class="content-section {{default data.class ''}}">
			{{{aggregate this.src}}}
		</section>
	{{/isnt}}
{{/withSort}}

