
@if $font-header == $font-bodoni or $font-body == $font-bodoni {
  /*
  @font-face{
  font-family:"Monotype Bodoni W01";
  src:url("../fonts/4e3cd7ee-0719-4362-b87b-7f12a33dce14.eot?#iefix");
  src:url("../fonts/4e3cd7ee-0719-4362-b87b-7f12a33dce14.eot?#iefix") format("eot"),url("../fonts/73f99668-7882-4f92-ba4d-c3b149828f67.woff2") format("woff2"),url("../fonts/d7f7fba3-4873-4084-b7f2-6f3fa4ee6019.woff") format("woff"),url("../fonts/3d829673-d42c-49ec-8799-1287be541432.ttf") format("truetype"),url("../fonts/03aed8dc-9240-455c-9c8b-2af3002590e9.svg#03aed8dc-9240-455c-9c8b-2af3002590e9") format("svg");
  font-weight: 300;
  font-style: normal;
  }
  @font-face{
  font-family:"Monotype Bodoni W01";
  src:url("../fonts/c5b77b15-773a-4eb4-976a-49da92e5829d.eot?#iefix");
  src:url("../fonts/c5b77b15-773a-4eb4-976a-49da92e5829d.eot?#iefix") format("eot"),url("../fonts/a02f71e1-59b5-46db-a78d-84bbf0abef28.woff2") format("woff2"),url("../fonts/fef20495-bab9-40eb-a873-7791998e1f4f.woff") format("woff"),url("../fonts/e005478c-7941-4de3-bd68-040d7d07645e.ttf") format("truetype"),url("../fonts/e74f7fa9-a29a-40e0-85ea-653bff2f2002.svg#e74f7fa9-a29a-40e0-85ea-653bff2f2002") format("svg");
  font-weight: 300;
  font-style: italic;
  }
  */
  @font-face{
  font-family:"Monotype Bodoni W01";
  src:url("../fonts/68217aa1-2e0f-46ff-8346-2dc7f2b6da58.eot?#iefix");
  src:url("../fonts/68217aa1-2e0f-46ff-8346-2dc7f2b6da58.eot?#iefix") format("eot"),url("../fonts/4998dec5-0c5b-4fbc-bcb0-b8881a830aab.woff") format("woff"),url("../fonts/fedc1312-4f84-4eef-9fea-ea0863dab099.ttf") format("truetype"),url("../fonts/6f65f35b-416f-411e-9985-5ba096d468b6.svg#6f65f35b-416f-411e-9985-5ba096d468b6") format("svg");
  font-weight: 400;
  font-style: normal;
  }
  @font-face{
  font-family:"Monotype Bodoni W01";
  src:url("../fonts/a0a6fabd-52f1-4bb0-ab19-96dbd11fbbd7.eot?#iefix");
  src:url("../fonts/a0a6fabd-52f1-4bb0-ab19-96dbd11fbbd7.eot?#iefix") format("eot"),url("../fonts/a0316db4-7327-4a8f-846c-649ae16d512b.woff") format("woff"),url("../fonts/5b0905b2-1ac9-459a-a860-4731600070ef.ttf") format("truetype"),url("../fonts/a2c65c78-d700-4bbb-b80c-6775921b9457.svg#a2c65c78-d700-4bbb-b80c-6775921b9457") format("svg");
  font-weight: 400;
  font-style: italic;
  }
  @font-face{
  font-family:"Monotype Bodoni W01";
  src:url("../fonts/ad42559d-c219-4fda-bd8e-c85aebe62e62.eot?#iefix");
  src:url("../fonts/ad42559d-c219-4fda-bd8e-c85aebe62e62.eot?#iefix") format("eot"),url("../fonts/6a76c8c6-2abe-4842-b3e2-e675c21ddd49.woff") format("woff"),url("../fonts/aaf1ac29-cd40-43ec-9a28-a947df44d661.ttf") format("truetype"),url("../fonts/cf4a1397-b8a7-47e5-981d-acab77e93efc.svg#cf4a1397-b8a7-47e5-981d-acab77e93efc") format("svg");
  font-weight: 700;
  font-style: normal;
  }
  @font-face{
  font-family:"Monotype Bodoni W01";
  src:url("../fonts/e13cc406-81c1-4488-98f4-9681fcd4ad90.eot?#iefix");
  src:url("../fonts/e13cc406-81c1-4488-98f4-9681fcd4ad90.eot?#iefix") format("eot"),url("../fonts/70d2660b-742e-42fd-8a76-4bcb1c2f9b40.woff") format("woff"),url("../fonts/942ebb33-f273-4c9f-bfce-f12b16fc03e0.ttf") format("truetype"),url("../fonts/744ea55c-40b6-48d2-93f4-5d1d056ca8fa.svg#744ea55c-40b6-48d2-93f4-5d1d056ca8fa") format("svg");
  font-weight: 700;
  font-style: italic;
  }
  /*
  @font-face{
  font-family:"Monotype Bodoni W01";
  src:url("../fonts/acb2f47f-a202-4cbc-a4f5-3d24c9783855.eot?#iefix");
  src:url("../fonts/acb2f47f-a202-4cbc-a4f5-3d24c9783855.eot?#iefix") format("eot"),url("../fonts/a355da81-c4c0-44e5-9473-8fc6f0d3333c.woff2") format("woff2"),url("../fonts/8510ce40-9e2d-4641-82fc-fba89070ed86.woff") format("woff"),url("../fonts/53cd43d2-fda7-48cd-b9ba-bd0fb29e38a5.ttf") format("truetype"),url("../fonts/840f0efa-7d6c-4adb-8984-2a4200484ca3.svg#840f0efa-7d6c-4adb-8984-2a4200484ca3") format("svg");
  font-weight: 800;
  font-style: normal;
  }
  @font-face{
  font-family:"Monotype Bodoni W01";
  src:url("../fonts/1f99cd88-05c6-4315-bfe8-55b3dae69ffe.eot?#iefix");
  src:url("../fonts/1f99cd88-05c6-4315-bfe8-55b3dae69ffe.eot?#iefix") format("eot"),url("../fonts/fadd8292-7dfe-40fe-869a-bf3c86ecf72f.woff2") format("woff2"),url("../fonts/ddef3355-4913-49b9-8c9c-7439b579b5fc.woff") format("woff"),url("../fonts/5c1629e9-4976-4fe4-8a1c-4327896dbc60.ttf") format("truetype"),url("../fonts/a3f2e567-c60e-40f6-ad4d-b14f3ccc4273.svg#a3f2e567-c60e-40f6-ad4d-b14f3ccc4273") format("svg");
  font-weight: 800;
  font-style: italic;
  }
  @font-face{
  font-family:"Monotype Bodoni W01";
  src:url("../fonts/5a04b357-906e-46c5-bad2-5254510b3f42.eot?#iefix");
  src:url("../fonts/5a04b357-906e-46c5-bad2-5254510b3f42.eot?#iefix") format("eot"),url("../fonts/cceea128-3218-4c87-9e2c-7ff5315c9ee6.woff2") format("woff2"),url("../fonts/f0825aee-8e80-485c-8c2f-261f04bd1284.woff") format("woff"),url("../fonts/c2ad57e3-0de3-48f3-acee-bd82cd569b85.ttf") format("truetype"),url("../fonts/dbfee8f7-c98d-4563-b7f7-7880bd9790cf.svg#dbfee8f7-c98d-4563-b7f7-7880bd9790cf") format("svg");
  font-weight: 900;
  font-style: normal;
  }
  @font-face{
  font-family:"Monotype Bodoni W01";
  src:url("../fonts/de2a773c-e739-4589-8f33-9d3f5cd3fca6.eot?#iefix");
  src:url("../fonts/de2a773c-e739-4589-8f33-9d3f5cd3fca6.eot?#iefix") format("eot"),url("../fonts/be47c9a6-6739-4bc8-b3b3-926ca9993990.woff2") format("woff2"),url("../fonts/6d876b8c-6729-4743-980b-76d19d69200b.woff") format("woff"),url("../fonts/b2739fa1-e4b0-4e33-b2a8-651bfdae4ae0.ttf") format("truetype"),url("../fonts/5df5cd88-797d-4422-ae60-270b77327713.svg#5df5cd88-797d-4422-ae60-270b77327713") format("svg");
  font-weight: 900;
  font-style: italic;
  }
  */
}

@if $font-header == $font-bodoni-svtytwo or $font-body == $font-bodoni-svtytwo {

  @font-face {
    font-family: 'bodoni-svtytwo-1';
    src: url('../fonts/BodoniSvtyTwoITCTTBook.eot'); // IE9 Compat Modes
    src: url('../fonts/BodoniSvtyTwoITCTTBook.eot?#iefix') format('embedded-opentype'), // IE6-IE8 // format('eot') ?
         url('../fonts/BodoniSvtyTwoITCTTBook.woff') format('woff'), // Modern Browsers
         url('../fonts/BodoniSvtyTwoITCTTBook.ttf')  format('truetype'), // Safari, Android, iOS
         url('../fonts/BodoniSvtyTwoITCTTBook.svg#1a565e8a76ea597cd4cd4388d4d08105') format('svg'); // Legacy iOS
    font-style:   normal;
    font-weight:  400;
  }

  @font-face {
    font-family: 'bodoni-svtytwo-1';
    src: url('../fonts/BodoniSvtyTwoITCTTBold.eot'); // IE9 Compat Modes
    src: url('../fonts/BodoniSvtyTwoITCTTBold.eot?#iefix') format('embedded-opentype'), // IE6-IE8
         url('../fonts/BodoniSvtyTwoITCTTBold.woff') format('woff'), // Modern Browsers
         url('../fonts/BodoniSvtyTwoITCTTBold.ttf')  format('truetype'), // Safari, Android, iOS
         url('../fonts/BodoniSvtyTwoITCTTBold.svg#9aa64ce3c4781d177662f1291723ead4') format('svg'); // Legacy iOS
    font-style:   normal;
    font-weight:  700;
  }

  @font-face {
    font-family: 'bodoni-svtytwo-1';
    src: url('../fonts/BodoniSvtyTwoITCTTBookIta.eot'); // IE9 Compat Modes
    src: url('../fonts/BodoniSvtyTwoITCTTBookIta.eot?#iefix') format('embedded-opentype'), // IE6-IE8
         url('../fonts/BodoniSvtyTwoITCTTBookIta.woff') format('woff'), // Modern Browsers
         url('../fonts/BodoniSvtyTwoITCTTBookIta.ttf')  format('truetype'), // Safari, Android, iOS
         url('../fonts/BodoniSvtyTwoITCTTBookIta.svg#db7b7489795eca1c2c221fea4c9f11a3') format('svg'); // Legacy iOS
    font-style:   italic;
    font-weight:  400;
  }
}


*, *:before, *:after {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: $size-md;
  font-size: vw-units($size-md);
}

body,
table,
thead,
tbody,
tfoot,
input,
textarea,
button,
select {
	font-family: $font-body;
}

body {
	color: $color-text-body;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-header;
  font-weight: $weight-normal;
  color: inherit;
}

h1 {
    @include adjust-font-size-to($size-xxxl);
    @include letter-spacing-sm;
    line-height: 1em;
    margin: 0.8em 0;
    text-transform: uppercase;

}
h2 {
    @include adjust-font-size-to($size-xxl);
    @include letter-spacing-sm;
    line-height: 1.2em;
    margin: 0.6em 0;

    h1 + & {
      margin-top:-1em;
    }
}

h3 {
    @include adjust-font-size-to($size-xl);
    @include letter-spacing-sm;
    margin: rhythm(4) 0 rhythm(2);
}

h4 {
    @include adjust-font-size-to($size-lg);
    margin: rhythm(3) 0;
    @include letter-spacing-sm;
}

h5 {
    @include adjust-font-size-to($size-md);
    margin: rhythm(3) 0;
}

p,
ul,
ol {
	margin: 2em 0;
	color: inherit;

    &:first-child {
      margin-top:0;
    }
    &:last-child {
      margin-bottom:0;
    }

    & + h2,
    & + h3 {
        margin-top: 1em;
    }

    h2 + & {
      margin-top: -0.8em;
    }
}

ul,
ol {
  margin-left:0;
  margin-right:0;
  padding:0;
  list-style:none;
}
li {
  margin:0;
  padding:0;
}

a {
	text-decoration: none;
	
	&,
	&:visited {
		color: inherit;		
	}
	
	&:active,
	&:hover {
		color: inherit;
	}

  .icon {
      align:absmiddle
  }

}

.caps {
	text-transform: uppercase;
	font-style: normal;
  @include letter-spacing-sm;
}

