
<nav id="sidenav" class="sidenav">
	<a class="open-nav" href="#sidenav">
		<div class="open">
			<svg>
			   <use xlink:href="assets/img/svgdefs.svg#icon-navbars"></use>
			</svg>
			<span>Open navigation</span>
		</div>
		<div class="close">
			<svg>
			   <use xlink:href="assets/img/svgdefs.svg#icon-close"></use>
			</svg>
			<span>Close navigation</span>
		</div>
	</a>

	<div class="nav">

		<svg>
		   <use xlink:href="assets/img/svgdefs.svg#logo-royalcph-crown"></use>
		</svg>

		<ul>
	{{#withSort pages "data.sortorder"}}
		{{#isnt data.is_aggr true}}
			<li class="section">
				<a href="#{{basename}}">
					{{data.navTitle}}
				</a>
			</li>
		{{/isnt}}
	{{/withSort}}
			<li class="site"><a href="#">Cups & Mugs</a></li>
			<li class="site"><a href="#">Blue elements</a></li>
		</ul>

	</div>


</nav>