<!--
<header class="page-header">

	<nav class="country">
		<ul>
			<li><a href="#">Denmark</a></li>
			<li><a class="active" href="#">International</a></li>
		</ul>
	</nav>

	<h1>
		<a href="single-page.html">
			<img src="{{assets}}/img/logo_royalcph_crown.png" alt="Royal Copenhagen logo">
			<span>Royal Copenhagen</span>
		</a>
	</h1>

</header>
-->
<nav id="sidenav" class="sidenav">
	<a class="open-nav" href="#sidenav">Open navigation</a>

	<div class="nav">

		<svg>
		   <use xlink:href="assets/img/svgdefs.svg#logo-royalcph-crown"></use>
		</svg>

		<ul>
	{{#withSort pages "data.sortorder"}}
		{{#isnt data.is_aggr true}}
			<li class="section">
				<a href="#{{basename}}">
					{{data.navTitle}}
				</a>
			</li>
		{{/isnt}}
	{{/withSort}}
			<li class="site"><a href="#">Cups & Mugs</a></li>
			<li class="site"><a href="#">Blue elements</a></li>
		</ul>

	</div>


</nav>