

$color-white: #ffffff;
$color-light-gray: #e6e6e6;

$color-background: #1d293e;
$color-brand: #002454;
$color-primary: $color-white;


$color-borders: #bcbcbc;
$color-borders-light: #e8e8e8;


$color-text-body: $color-white;
$color-text-headers: $color-white;
$color-text-light: #a3a5a5;
$color-text-dark: #282b20;
$color-links: $color-primary;
$color-links-active: $color-primary;

$color-error: #900;
$color-error-bg: #f99;
