

$color-white: #ffffff;
$color-light-gray: #e6e6e6;
$color-gold: #B4975A;

$color-background: #1d293e;
$color-brand: #002454;
$color-primary: $color-white;


$color-borders: #999;
$color-borders-light: #e8e8e8;


$color-text-body: $color-white;
$color-text-headers: $color-white;
$color-text-light: #a7a7a7;
$color-text-dark: #282b20;
$color-links: $color-primary;
$color-links-active: $color-primary;

$color-error: #900;
$color-error-bg: #f99;
