

$font-bodoni-svtytwo: "Bodoni SvtyTwo ITC TT", "bodoni-svtytwo-1", Georgia, Garamond, "Times New Roman", serif;
$font-bodoni: "Monotype Bodoni W01", "BodoniMTStd", "Bodoni MT", "Bodoni Std", Georgia, Garamond, "Times New Roman", serif;

$font-header: $font-bodoni;
$font-body: $font-bodoni;

$weight-normal: 400;
$weight-bold: 700;

$size-xxxxl:65px;
$size-xxxl: 45px;
$size-xxl:	30px;
$size-xl:	25px;
$size-lg:	20px;
$size-md:	16px;
$size-sm:	13px;
$size-xs: 	11px;
$size-xxs:	8px;

$base-font-size: $size-md;

$border-radius-sm: 2px;
$border-radius-md: 4px;
$border-radius-lg: 8px;

