
.section-artproject {
	padding:0;
	overflow:hidden;

	
	.elm-content {
		padding: vw-units($section-margin-v) 0;
		
		svg {
			display:block;
			fill:$color-white;
			margin:0 auto;
			min-height: 420px;
			max-width:80%;

		}
		
	}
	.elm-image {
		padding: vw-units(50px);
		background: $color-light-gray;

		img {
			display:block;
			width: 100%;
			height: auto;
		}
		

		a {
			display:block;
			border: 1px solid $color-brand;
			margin: vw-units(50px) auto 0;
			width: vw-units(400px);
			height: vw-units(80px);
			fill:$color-brand;


			transition: background-color .3s ease;
			
			&:hover {
				background-color: $color-white;
				
			}
		}

		svg {
			display:block;
			width: 100%;
			height: 100%;
		}
	}
	@include breakpoint(0 $xs) {
		.touch & {
			.elm-image {
				a {
					width: 100%;
					height: vw-units(120px);
				}
			}
		}
	}
	@include breakpoint($sm) {
		background: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, $color-light-gray 50%, $color-light-gray 100%);

		.elm-content {
			float:left;
			width:50%;
			min-height: 0;
			padding: vw-units(60px) 0;
			margin-right: -100%;

			svg {
				height: 40vw;
				min-height: 0;
				max-width: none;
			}

		}
		.elm-image {
			//background: transparent;
			float:right;
			width:50%;

			a {
				width: vw-units(200px);
				height: vw-units(40px);
			}
		}
	}

}
