.section-blue {
	padding-bottom:0;
}

.blue-slider {
	
	margin: 0 (-1 * vw-units($section-margin-h));

	ul.slides {
		background:$color-white;
	}
	li {
		overflow: hidden;
		//backface-visibility: visible;
	}
	
	.flex-direction-nav {
		a {
			color: $color-primary;
		}
	}

	&[data-current-slide="2"] {
		.flex-direction-nav {
			a{
				color: $color-brand;
			}
		}
	}
	.flex-control-paging {
		display: none;
	}

	.elm-image {
		position:relative;
		img {
			margin-left: -50%;
			width:200%;
			max-width: none;
		}

		@include breakpoint($xs) {

			img {
				margin-left:0;
				max-width: 100%;
			}
		}
	}

	.elm-content {
		overflow: hidden;
		padding: vw-units($content-margin-px) vw-units($content-margin-px);
		color: $color-brand;
		text-align: left;
		background:#fff;

		> *:first-child {
			margin-top:0;
		}

		p {
			font-style: italic;
			@include letter-spacing-sm;
		}

		@include breakpoint($xs) {
			position:absolute;
			padding: vw-units(.75 * $content-margin-px) vw-units($content-margin-px);
			margin-top:vw-units(-225px);
			width: vw-units(610px);
		}
		@include breakpoint($sm) {
			width: vw-units(410px);
		}
	}


	html.csstransforms3d & {
		.elm-content {
			@include breakpoint($xs) {
				transform: translate3d(-50%,0,0);
				opacity: 0;
				transition-property: transform, opacity;
				transition-duration: .4s;
				transition-timing-function: ease;
				transition-delay: .2s;
			}

			> * {
				opacity: 0;
				transform: translate3d(-30%,0,0);
				transition: .3s ease;
				transition-property: opacity transform;
			}
		}

		.flex-active-transition .elm-content {
			@include breakpoint($xs) {
				transform: translate3d(0,0,0);
				opacity: 1;
			}

			> * {
				opacity: 1;
				transform: translate3d(0,0,0);

				&:nth-child(1) {
					transition-delay: .4s;
				}
				&:nth-child(2) {
					transition-delay: .45s;
				}
				&:nth-child(3) {
					transition-delay: .5s;
				}
				&:nth-child(4) {
					transition-delay: .55s;
				}
			}
		}
		
	}
}