/*
#logo-royalcph-crown-crown {
	fill: $color-gold;
}
#logo-royalcph-crown-waves {
	fill: $color-brand;
}
*/

.section-front {
	position:relative;
	overflow:hidden;
	background: none;

	padding-top: vw-units(145px);
	padding-bottom: vw-units(190px);


	color: $color-brand;

	background: url(../img/frontpage/frontpage_bg.jpg) no-repeat 50% 50%;
	background-attachment: fixed;

	@include background-cover;

	z-index:-2;

	svg {
		display:block;
		margin:0 auto 0.8rem;
		width: vw-units(50px);
		height: vw-units(60px);
		min-width: 50px;
		min-height: 60px;


		color: $color-gold;
		fill: $color-brand;

	}

	> h1 {
		@include adjust-font-size-to($size-xxxxl);
		margin-bottom: 0;
	}
	> h2 {
		@include adjust-font-size-to($size-xxxl);
		font-style: normal;
		margin-top:0 !important;
		margin-bottom:0;
	}
	img {
		margin: 0 auto;
	}

	video {
		
		position: absolute;
		margin:0;
		top: 0;
		left: 0;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
		background-size: cover;
		z-index: -1;
		transition: 1s opacity;
	}

	.flexbox & {
		min-height: 100vh;
		padding-top: vw-units(75px);
		padding-bottom: vw-units(120px);

		display:flex;
		flex-direction: column;
		justify-content: center;
	}
}