
.section-front {
	position:relative;
	overflow:hidden;
	background: none;

	padding-top: vw-units(145px);
	padding-bottom: vw-units(190px);


	color: $color-brand;

	background: url(../img/frontpage/frontpage_bg.jpg) no-repeat 50% 50%;
	background-attachment: fixed;

	@include background-cover;

	z-index:-2;

	.flexboxlegacy & {
		min-height: 100vh;
		padding-top: vw-units(75px);
		padding-bottom: vw-units(120px);

		display:flex;
		flex-direction: column;
		justify-content: center;
	}


	> h1 {
		@include adjust-font-size-to($size-xxxl);
		margin-bottom: 0;

		@include breakpoint($xs) {
			@include adjust-font-size-to($size-xxxxl);
		}

		svg {
			display:block;
			margin:0 auto 0.8rem;
			width: vw-units(50px);
			height: vw-units(60px);
			min-width: 50px;
			min-height: 60px;


			color: $color-gold;
			fill: $color-brand;

		}
	}
	> h2 {
		@include adjust-font-size-to($size-xxl);
		font-style: normal;
		margin-top:0 !important;
		margin-bottom:0;
		
		@include breakpoint($xs) {
			@include adjust-font-size-to($size-xxxl);
		}
	}
	img {
		margin: 0 auto;
	}

	
	.scroll-down {
		position: absolute;
		top: 70%;
		left: 0;
		width: 100%;

		svg {
			display:block;
			margin: 0 auto;
			width: vw-units(50px);
			height: vw-units(60px);
			min-width: 50px;
			min-height: 60px;
			fill: $color-brand;

		}
	}

	@keyframes scroll-down-bounce {
		0%, 100% {transform: translateY(0);}
		70% {transform: translateY(30px);}
	}



	video {
		
		position: absolute;
		margin:0;
		top: 0;
		left: 0;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		background: transparent;
		z-index: -1;
		transition: 2s opacity ease;
		transform: translate3d(0,0,0);
		opacity: 0;

		&.ready {
			opacity: 1;
		}
	}
}