
.section-history {
	padding-bottom: 0;
}

.history {

	position: relative;
	overflow: hidden;

	color: $color-brand;
	background:#fff;
	
	margin-left:-1 * vw-units($section-margin-h);
	margin-right:-1 * vw-units($section-margin-h);

	padding-bottom: vw-units(2 * $section-margin-v);

	.years {
		position: absolute;
		z-index: 5;
		bottom: 0;
		height: vw-units(2 * $section-margin-v);
		left: 0;
		text-align: left;

		ul {
			position:relative;
			margin:0;
			padding:0;
			list-style: none;
			white-space: nowrap;
			cursor: move;
		}
		
		li {
			display: inline-block;
			vertical-align: top;
			width: 100vw / 14 * 5;

			&:before {
				content: '';
				display:block;
				border-top: 1px solid $color-brand;
			}

			&:first-of-type {
				width: 100vw / 14 * 2;
				margin-left:50vw;
			}
			&:last-of-type {
				margin-right:0;
				width: 50vw;

				&:before {
					display: none;
				}
			}

		}

		a {
			position:relative;

			display:inline-block;
			padding-top: vw-units(20px);
			min-width: 40%;
			min-height: vw-units(50px);
			text-align: center;
			transform: translate3d(-50%, 0, 0);
			

			@include adjust-font-size-to($size-xs);

			&:before {
				content: '';
				position:absolute;
				top:0;
				left:50%;
				transform: translate3d(-50%, -50%, 0) scale(.5);
				display:block;
				width: vw-units(16px);
				height: vw-units(16px);
				border-radius: vw-units(8px);
				background: $color-brand;
				box-shadow: 0 0 0 8px rgba($color-brand, .3);
				transition: transform .2s ease;
			}

			.year {
				@include adjust-font-size-to($size-lg);
				&:after {
					content:"\A"; white-space:pre; 
				}
			}


		}

		li.active a,
		a:hover {
			&:before {
				transform: translate3d(-50%, -50%, 0) scale(1);
			}
		}
	}

	.flexslider {
		overflow:hidden;
		padding: vw-units($section-margin-v) vw-units($section-margin-h);
	}
	

	.elm-content {
		display:inline;
		float:right;
		clear:left;
		width: 100%;
		margin-right: -100%;
		padding: vw-units($content-margin-px) vw-units($content-margin-px) 0;
		text-align: left;
	}

	.elm-image {
		display:inline;
		float:left;
		width: 100%;
		padding: 0 vw-units($content-margin-px);
	}

	h3.year {
		@include adjust-font-size-to($size-lg);
		line-height: 1em;
		margin:0;
		padding: 0 0 0.1em;
		border-bottom: 1px solid $color-brand;

		display:inline;
		&:after {
			content:"\A"; white-space:pre; 
		}


	}

	h2 {
		margin-top:0;
		margin-bottom: 1em;
		text-transform: uppercase;

	}

	h3.year + h2 {
		margin-top:0.2em;
	}

	p {
		font-style: italic;
	}


	@include breakpoint($xs) {
		padding-bottom: vw-units($content-margin-px);

		.years {
			height: vw-units(100px);
		}
		.elm-content {
			float:left;
			width: 50%;
			padding: 0 vw-units($content-margin-px);
		}
		.elm-image {
			float:right;
			width: 50%;
			padding: 0 vw-units($content-margin-px) 0 0;
		}
	}
	@include breakpoint($sm) {
		.years {
			height: vw-units(2 * $content-margin-px);
		}
	}


}