.content-section.section-passion {
	position:relative;
	overflow:hidden;
	z-index:1;
	padding: 0;
	transform: translateZ(0);


	> h1 {
		position:absolute;
		top: $section-margin-v / 2;
		left: $section-margin-h / 2;
		@include adjust-font-size-to($size-xxl);
		font-style: italic;
		line-height: 1.2em;
		@include letter-spacing-sm;
		text-transform: none;
		text-align: left;
	}

}

.passion-videos {

	width: 100%;
	min-height: 100vh;
	overflow:hidden;
	margin:0;

	@media screen and (min-aspect-ratio: 3/2) {
		min-height: 70vw;
	}
	/*
	@media screen and (min-aspect-ratio: 2/1) {
		min-height: 80vw;
	}
*/
	.no-flexboxlegacy & {
		padding: vw-units($section-margin-v / 2) 0;
	}

	.flexboxlegacy & {
		display:flex;
		flex-direction: column;
		justify-content: center;


	}

	h2 {
		@include adjust-font-size-to(55px);
		text-transform: uppercase;
		@include letter-spacing-sm;
		opacity: .3;
		transition: 
			opacity .3s ease
		;
		margin:0;

		a {
			display:block;
		}
	}


	.elm-image {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;

		//background-size: auto 100%;
		background-position: 0 0;
		background-attachment: scroll;
		background-size: cover;

		opacity: 0;
		z-index:-1;

		transition: opacity .3s ease .15s;
		transform: translateZ(0);

		img {
			display:none;
		}


	}

	.elm-content {
		position:relative;
		max-height: 1px;
		opacity: 0;
		overflow: hidden;
		transform: translateZ(0);
	}

	
	.video-player {
		position:relative;
		overflow: hidden;
		width: 100%;
		height:auto;
		max-width: 480px;
		margin: 1.2em auto;

		&:after {
			content: '';
			display:block;
			margin-bottom: 281px / 500px * 100%;
		}

		iframe,
		img {
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
		}

		
		@include breakpoint($md) {
			max-width: 50vw;
		}
	}
	
	&:not(.has-active):not(:hover) {
		li.initial h2 {
			opacity: 1;
		}
	}

	li.initial {
		.elm-image {
			opacity: 1;
			z-index: -3;
		}
	}

	h2:hover,
	li.active h2,
	h2:hover + .elm-image,
	li.active .elm-image {
		opacity: 1;
	}

	h2:hover + .elm-image {
		z-index:-1;
	}

	li.active {
		.elm-image {
			z-index: -2;
		}
		.elm-content {
			transition: max-height .5s ease, opacity .3s ease .4s;
			max-height:1000px;
			opacity: 1;

		}
	}

	&.has-active {
		margin-top:0;
		margin-bottom:0;

		h2 {
			@include adjust-font-size-to($size-xxl);
		}
	}
}