.section-pattern {
	padding-bottom: 0;
}

.pattern {
	margin: 0 vw-units(-$section-margin-h);

	ul {
		margin:0;
		padding:0;
		list-style:none;	
	}
	li {
		display:block;
		margin:0;
		padding:0;
		height: 100vh;
		overflow: hidden;

		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-attachment: fixed;
		
		@include background-cover;

		&:not(.active):first-of-type {
			background-attachment: scroll;
		}
		&.active:last-of-type {
			background-attachment: scroll;
		}

	}

	li.visible {
		
	}

	.light .elm-content {
		color: $color-brand;
	}

	h2 {
		@include adjust-font-size-to($size-md);
		font-weight: $weight-bold;

	}

	p {
		font-style: italic;
		margin: 0;
		padding: 0;
	}

//	@include breakpoint($sm) {

		.elm-content {
			position:relative;
			top: auto;
			margin-left: 13%;
			margin-top: 40vh;
			width: 50%;
			text-align:left;
		}

		h2 {
			position:relative;
			max-width: 30%;

			&:before {
				content: '';
				display: block;
				position: absolute;

				@include circle-marker;

				bottom: -1.45em;
				left: 25vw;


			}

			&:after {
				content: '';
				display: block;
				height: 1px;
				width: 25vw;
				background: $color-white;
				background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(20,32,74,1) 100%);
				bottom:-0.45em;
				left: 0;
				position: absolute;

			}
		}
		@include breakpoint(($sm) (orientation landscape), ($md) (orientation portrait)) {
			.csstransitions & {
				h2,
				p {
					transform: translate3d(-50%, 0, 0);
					opacity: 0;
					transition: transform .3s ease, opacity .3s ease;
				}
				h2:before {
					opacity: 0;
					transform: translate3d(-50%, -50%, 0) scale(.01);
					bottom: -1.95em
				}
				h2:after {
					transform: translate3d(-200%, 0, 0);
					opacity: 0;
					transition: opacity .3s ease, transform .3s ease;
				}


				li.visible {
					h2,
					p {
						transform: translate3d(0, 0, 0);
						opacity: 1;
					}
					p {
						transition-delay: .1s;
					}
					h2:before {
						opacity: 1;
						transform: translate3d(-50%, -50%, 0) scale(1);
						transition: opacity .3s ease .7s, transform .3s ease .7s;
						@include circle-marker-active;
						animation-delay: .7s;
					}
					h2:after {
						opacity: 1;
						transform: translate3d(0, 0, 0);
						transition-delay: .4s;
					}
				}
			}
		}


		.light {
			h2:after {
				background: $color-brand;
			}
		}

		p {
			max-width: 30%;
		}
//	}
/*
	@include breakpoint((0 $sm) (orientation landscape)) {
		li {
			background-attachment: scroll;
			min-height: 100vw;
		}
	}
	*/
	@include breakpoint((0 $sm) or (0 $md) (orientation portrait)) {
		li {
			position: relative;
			background-attachment: scroll;
			min-height: 100vw;
		}
		
		.elm-content {
			position: absolute;
			bottom: 5%;
			left:10%;
			width: 80%;
			margin: 0 auto;
			text-align: center;

			h2 {
				&:after,
				&:before {
					display:none;
				}
				max-width: none;
			}
			p {
				max-width: none;
			}

		}

	}


}