.section-pattern {
	padding-bottom: 0;
}

.pattern {
	margin: 0 vw-units(-$section-margin-h);

	ul {
		margin:0;
		padding:0;
		list-style:none;	
	}
	li {
		display:block;
		margin:0;
		padding:0;
		height: 100vh;
		overflow: hidden;


		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-attachment: fixed;
		
		@include background-cover;

		&:not(.active):first-of-type {
			background-attachment: scroll;
		}
		&.active:last-of-type {
			background-attachment: scroll;
		}

	}

@for $i from 1 through 5 {
	li.item-#{$i} {
		//background-image: url(../img/pattern/#{$i}.jpg);
	}
}



	li.visible {
		
	}

	.light .elm-content {
		color: $color-brand;
	}

	h2 {
		@include adjust-font-size-to($size-md);
		font-weight: $weight-bold;

	}

	p {
		font-style: italic;
		margin: 0;
		padding: 0;
	}

//	@include breakpoint($sm) {

		.elm-content {
			position:relative;
			top: auto;
			margin-left: 13%;
			margin-top: 40vh;
			width: 50%;
			text-align:left;
		}

		h2 {
			position:relative;
			max-width: 30%;

			&:before {
				content: '';
				display: block;
				height: 1.2em;
				width: 1.2em;
				margin-bottom: -0.5em;
				border-radius: 50%;
				box-shadow: 0 0 0 0.4em rgba(20, 32, 74, 0.5);
				//top: 1.4em;
				bottom:-0.4em;
				left: 25vw;
				background-color: $color-brand;
				position: absolute;

			}

			&:after {
				content: '';
				display: block;
				height: 1px;
				width: 25vw;
				background: $color-white;
				background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(20,32,74,1) 100%);
				//top: 1.4em;
				bottom:-0.4em;
				left: 0;
				position: absolute;

			}
		}


		.light {
			h2:after {
				background: $color-brand;
			}
		}

		p {
			max-width: 30%;
		}
//	}
/*
	@include breakpoint((0 $sm) (orientation landscape)) {
		li {
			background-attachment: scroll;
			min-height: 100vw;
		}
	}
	*/
	@include breakpoint((0 $sm)) {
		li {
			position: relative;
			background-attachment: scroll;
			min-height: 100vw;
		}
		
		.elm-content {
			position: absolute;
			bottom: 5%;
			left:25%;
			width: 50%;
			margin: 0 auto;
			text-align: center;

			h2 {
				&:after,
				&:before {
					display:none;
				}
				max-width: none;
			}
			p {
				max-width: none;
			}

		}

	}


}