
.section-products {
	position: relative;
	padding-bottom:0;
}

.products {
	position:relative;
	margin: 0 (-1 * vw-units($section-margin-h));
	padding: 0 vw-units($content-margin-px) vw-units($section-margin-v);
	color: $color-brand;

	background:#fff;
	
	@include breakpoint($xs) {
		padding-bottom: 0;
	}

	ul.slides {
		margin:0;
		padding:0;
		list-style:none;

		li {
			margin: rhythm(5) 0;
			padding:0;
		}
	}

	.flex-control-paging {
		display: none;
	}

	.product {
		
		.elm-image,
		.elm-content {
			padding: 0 30px;
		}

		.elm-content {
			margin: 0 vw-units($section-margin-h);
		}

		img {
			width:auto;
			max-width: 100%;
		}

		h3 {
			margin-top:0;
			@include adjust-font-size-to($size-xxl);
		}

		.product-series {
			display:inline-block;
			@include adjust-font-size-to($size-md);
			text-transform: uppercase;
			padding-bottom: rhythm(2);
		}

	
		.product-name,
		.product-details {
			font-style: italic;
		}

		@include breakpoint($xs) {
			display: table;
			table-layout: fixed;
			table-spacing:0;
			padding:0;
			width:100%;


			text-align:left;

			.elm-image,
			.elm-content {
				display:table-cell;
				vertical-align: middle;
				margin:0;
			}

			.elm-image {
				width: perc-width(575px);
				padding-right: 15px;
				text-align: right;
			}
			.elm-content {
				padding-left:0;
			}

			img {
				float:right;
			}
		}

	}	
}
.store-locator {
	background: $color-brand;
	margin: 0 (-1 * vw-units($section-margin-h));
	padding: 0 vw-units($section-margin-h);
	
	a {
		display:block;
		color: #fff;
		text-align: center;
		font-style:italic;
		padding: $content-margin;

		@include adjust-font-size-to($size-xl);

	}
	.icon {
		line-height: vw-units($size-xxl);
		font-size: vw-units($size-xxl);
		font-style:normal;
	}

	@include breakpoint($sm) {
		position:relative;
		padding:0;
		float:right;
		margin-top: vw-units(-165px);
		width:vw-units(165px);
		height:vw-units(165px);
		overflow:hidden;
		background:transparent;

		&:before {
			content: '';
			position:absolute;
			top:vw-units(40px);
			left:vw-units(40px);
			width:200%;
			height:200%;
			transform: rotate(45deg);
			background: $color-brand;
		}

		a {
			position:absolute;
			bottom:vw-units(20px);
			right:0;
			padding:0 5px 0 0;
			display:block;
			width:vw-units(100px);
			color: #fff;
			text-align: center;
			z-index:5;
			font-style:italic;
			@include adjust-font-size-to($size-md);
			line-height: 1em;

			span {
				display:block;
				margin:0 auto;
			}
		}
		.icon {
			display:block;
			text-align: center;
			margin-bottom:rhythm(1);

			&:before {
				width:vw-units($size-xxl);
				height:vw-units($size-xxl);
				font-size: vw-units($size-xxl);
				font-style:normal;

			}
		}
	}
}