
img {
	display:block;
	max-width:100%;
}
img.full-width {
	width:100%;
}

@mixin circle-marker {
	transform: translate3d(-50%, -50%, 0);
	display:block;
	width: 1.1em;
	height: 1.1em;
	border-radius: 50%;
	background: $color-brand;
	box-shadow: 0 0 0 .3em rgba($color-brand, .5);
	transition: width .2s ease-out .2s, height .2s ease-out .2s, box-shadow .4s ease-out;
}


@mixin circle-marker-active {
	width: 1.6em;
	height: 1.6em;
	animation: circle-marker-border .4s .25s 1 alternate forwards;
	//box-shadow: 0 0 0 .6em rgba($color-brand, .5);
}

@keyframes circle-marker-border {
	0% {box-shadow: 0 0 0 .3em rgba($color-brand, .5); animation-timing-function:ease-in;}
	55% {box-shadow: 0 0 0 .7em rgba($color-brand, .5); animation-timing-function:ease-out;}
	80% {box-shadow: 0 0 0 .5em rgba($color-brand, .5); animation-timing-function:ease-in;}
	100% {box-shadow: 0 0 0 .6em rgba($color-brand, .5); animation-timing-function:ease-out;}
}

/*
.pricing-info {
	text-align:center;
	font-style:italic;
	color: #fff;

	h2 {
		display:inline-block;
		clear:both;
		font-style:normal;
		border-bottom: 1px solid #fff;
		margin: 0 0 rhythm(1);
		@include adjust-font-size-to($size-md);
	}

	p {
		margin: 0;
		@include adjust-font-size-to($size-md);
	}
	.product-name {
		@include adjust-font-size-to($size-xl);
	}
	.product-msrp {

		.label {
			display:block;
			font-style: normal;
			@include adjust-font-size-to($size-sm);
		}
	}
}

.video {
	display:block;
	position:relative;
	text-shadow:none;
	.icon {
		position: absolute;
		top:50%;
		left:50%;
		margin-top: -43px;
		margin-left: -43px;
		width: 86px;
		height: 86px;
		font-size:86px;
		z-index:1;
		color: #fff;
	}
}
*/