
.page-header {
	@extend %center-element;
	margin-top:rhythm(8);
	margin-bottom:rhythm(8);


	h1 {
		text-align:center;
		@include adjust-font-size-to(50px);
		color:#fff;
		svg {
			width:50px;
			height:50px;
		}
		img {
			display: inline;
		}
		span {
			display:none;
		}
	}

	a {
		color:#fff;
	}

	nav.country {
		@include breakpoint($sm) {
			position:absolute;
			top:$content-margin;
			right: $content-margin;	
		}

		ul {
			margin:0 auto;
			padding:0;
			list-style:none;
		}
		li {
			display:inline;
			&:nth-of-type(n+1) {
				margin-left: rhythm(2);	
			}
			
		}
		a {
			display:inline-block;
			color: $color-white;

			&.active {
				text-decoration: underline;
			}
		}
	}
}

nav#sidenav {
	
	position: fixed;

	.nav {
		overflow-y: scroll;
		max-height: 100%;
		padding: vw-units(45px) vw-units(30px);
	}

	width: vw-units(250px);
	height: 100vh;
	background: $color-white;


	color: $color-brand;
	@include adjust-font-size-to($size-lg);
	text-transform: uppercase;

	z-index:1000;

	svg {
		width: vw-units(45px);
		height: vw-units(50px);
		color: $color-gold;
		fill: $color-brand;
	}

	ul {
		margin:1rem 0 0;
		text-align:left;
	}

	li {
		border-bottom: 1px solid $color-borders;

		&:first-of-type {
			border-top: 1px solid $color-borders;
		}
	}

	li a {
		display:block;
		padding: vw-units(10px);
		
		&.active {
			font-weight: $weight-bold;
		}
	}

	.site {
		color: $color-text-light;
	}

	.open-nav {
		position:absolute;
		top: 20px;
		right: 20px;
		width: 30px;
		height: 30px;
		border: 1px solid $color-brand;
		text-indent: -9999em;

		background: #ccc url('../img/svgdefs.svg#icon-close');
		background-size: 30px 30px;
	}


	.csstransforms3d & {
		transform: translate3d(-100%, 0, 0);
		transition: transform .3s ease;

		.open-nav {
			transform: translate3d(50px, 0, 0);
		}

		&.active {
			transform: translate3d(0,0,0);

			.open-nav {
				transform: translate3d(0,0,0);
			}
		}

	}
}